<a href="https://colab.research.google.com/github/JOKER-NISHANTH/EmployeeManagementSystem/blob/master/PythonTechiSu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Comprehension :

List comprehension are useful and help  you write elegant code that's easy to read and debug...

## Syntax : 

[ expression for item in iterable ]

In [2]:
lst = [1,2,3]
print(lst)

[1, 2, 3]

In [3]:
List = [ x for x in range(1,11)]
print(List)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
List = [ x**2 for x in range(1,11)]
print(List)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### True Statement in List Comprehension

_Syntax_

[ expression for item in iterable if condition]


### Print Even Number 
---

In [6]:
List = [ x for x in range(1,11) if x%2==0]
print(List)

[2, 4, 6, 8, 10]

### Print Odd Number

In [8]:
List = [ x for x in range(1,11) if not x%2==0]
print(List)

[1, 3, 5, 7, 9]

#### True And False Statement in List Comprehension

_Syntax_

[ T-expr if conditon else F-expr for item in iterable ]

In [9]:
List = [ x if (x > 2) else x+1 for x in range(1,11)]
print(List)

[2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

Print 1 to 10 and Even Numbers square and Odd numbers cube


eg:
```
  1, 4, 27 , 16 ,125 .......,729 , 100
```

In [10]:
List = [ x**2 if x%2==0 else x**3 for x in range(1,11)]
print(List)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

**List Comprehension examples**

1. Question 
Multiple no to List

In [11]:
List = [ 1,2,3,4,5 ]
Result = [ x*2 for x in List]
print(Result)

[2, 4, 6, 8, 10]

2 . Extract numbers or alphabets form string

In [15]:
name = "BlackPearl379"
Result = [x for x in name if x.isalpha()]
print(Result)
Result = [x for x in name if x.isdigit()]
print(Result)

['B', 'l', 'a', 'c', 'k', 'P', 'e', 'a', 'r', 'l']
['3', '7', '9']

3. To Change cases of words in List

In [16]:
fruits = ['apple','orange','grapes']
UpperCase = [ x.upper() for x in fruits]
print(UpperCase)

['APPLE', 'ORANGE', 'GRAPES']

4. Nested List Comprehension

In [21]:
NestedList = [[1,2,3,4,5],['a','b','c','d','e'],['Cyber','Black']]
print(NestedList)
Result = [ x[0] for x in NestedList]
print(Result)
Result = [ x[1] for x in NestedList]
print(Result)

[[1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'], ['Cyber', 'Black']]
[1, 'a', 'Cyber']
[2, 'b', 'Black']

5. Addition of two List

In [22]:
List_1 = [1,2]
List_2 = [3,4]

Added = [x+y for x in List_1 for y in List_2]
print(Added)

[4, 5, 5, 6]

Addition  of two List (Corresponding Values)

In [23]:
List_1 = [1,2]
List_2 = [3,4]

Added = [List_1[i] + List_2 [i] for i in range(len(List_1))]
print(Added)

[4, 6]

6. Forming Unique pairs:

In [24]:
List_1 = [1,2]
List_2 = [3,4]
Unique = [ (x,y) for x in List_1 for y in List_2 if not x==y]
print(Unique)

[(1, 3), (1, 4), (2, 3), (2, 4)]

7. Function

In [26]:
def square(x):
  return (x*x)

print([square(x) for x in range(1,11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

=====================================================================

# Function

Python function are categorized into 

* in-built function
* User defined functions
  
  * Function Definition
  * Function Calling

_Syntax_

```python
  
  def function_name(arguments): # arguments => Optional 
    # Code
    return variable


# Function Call
function_name()
```

1. Function Without Arg

In [64]:
def greet():
  print("Welcome")

greet()

Welcome

2. Function with Postional Arg

In [65]:
def print_name(name) -> str:
  print(f"Heartly Welcome! {name}")


print_name('Black Pearl')

Heartly Welcome! Black Pearl

3. returning value

In [66]:
def add(num1,num2):
  return (num1+num2)

result = add(10,15)
print(result)
result=add(num2=10,num1=40)
print(result)

25
50

In [67]:
def calc(x,y):
  add = x + y
  sub = x - y
  mul = x * y
  div = x / y
  rem = x % y

  return add ,sub , mul , div , rem


num1 , num2 = 10 , 5
Result = calc(y=num2,x=num1)
print(Result) # printed in tuple format

Add , Sub , Mul, Div , Rem = calc(x=num1,y=num2)
print(Add , Sub , Mul, Div , Rem )

(15, 5, 50, 2.0, 0)
15 5 50 2.0 0

4. Function with default arg

In [68]:
# pi = default
def area(radius , pi=3.14):
  return pi * radius**2


print(area(10))
print(area(10,2))

314.0
200

5. Keyworded argument

In [69]:
def printval(x,y):
  print("x",x)
  print("y",y)

printval(777,999)
printval(y=777,x=999)

x 777
y 999
x 999
y 777

6. Variable length argument

In [70]:
# *value = *arg

def multi_value(*value):
  print(value)
  print(*value)
  print(f"Addition of value : {sum(value)}\n")
  for x in value:
    print(f"Square of value {x}: {x**2}")

multi_value(1,2,3,4,5)

(1, 2, 3, 4, 5)
1 2 3 4 5
Addition of value : 15

Square of value 1: 1
Square of value 2: 4
Square of value 3: 9
Square of value 4: 16
Square of value 5: 25

7. **kwargs = keyword length arguments

In [71]:
def List(**items):
  print(items) # Return DICT
  
  print(*items) # Return Key  
  
  print(items['apple'])

  print(items)


List(apple=2,manjo=6,lemon=4)

{'apple': 2, 'manjo': 6, 'lemon': 4}
apple manjo lemon
2
{'apple': 2, 'manjo': 6, 'lemon': 4}

_**\*args and **kwargs**_

In [72]:
def func(*args,**kwargs):
  print(args) # Tuple
  print(kwargs) # Dict

func(1,2,3,4,a=10,b=20,c=30,d=40)

(1, 2, 3, 4)
{'a': 10, 'b': 20, 'c': 30, 'd': 40}

=============================================================================

# Recursive Function:

Function calling itself..

- Base Case ==> Terminating from recursive
- Recursive Case ==> Calling itself

Example

1.   Factorial

Stack memory

LIFO (last in first out )

n = 5

5 *fact(4) = 5*24 = 120

4 *fact(3) = 4*6 = 24

3 *fact(2) = 3*2 = 6

2 *fact(1) = 2*1 = 2

fact(1) = 1

In [75]:
def fact(n):
  if n==0 or n==1:
    return 1
  else:
    return n*fact(n-1)
n = int(input('Enter the number : '))
res = fact(n)
print(f"Factorial of {n} is {res}")

Enter the number : 6
Factorial of 6 is 720

2. Sum of digits

eg:

n=1234

= 1 + 2 + 3 + 4

= 10



Logic

1234%10 + sod(1234//10) = 4 + sod(123) = 4 + 6 = 10
123%10 + sod(123//10)   = 3 + sod(12)  = 3+3   = 6
12%10 + sod(12//10)     = 2 + sod(1)   = 2+1   = 3
1%10 + sod(1//10)       = 1 + sod(0)   = 1
0

In [76]:
def sod(n):
  if n == 0:
    return 0
  else:
    return n%10 + sod(n//10)
n = int(input("Enter the number : "))
res = sod(n)
print(f"Sum of digits {n} : {res} ")

Enter the number : 1234
Sum of digits 1234 : 10

# Lambda Function / Anonymous Function

function

```python
def function_name():
  #code
  return statement
```

lambda function

```python

variable(fun-obj) = lambda arguments : expression
```


- Not defined by def keyword Function returns a object one-line funtions Can take any no of arguments can't access _**global**_ variables

- Function does not any name ..

- Defined by **_Lambda_** keyword

In [77]:
# Sum of no

def sum(x,y):
  return x + y

res = sum(2,3)  
print("Sum : ",res)

Sum :  5

In [78]:
sum = lambda x,y : x+y
print("Sum : ",sum(55,45))

Sum :  100

In [83]:
square  = lambda x : x*x
print("Square : ",square(5))

Square :  25

# Map Function

```python

map(function ,sequence)

```

In [84]:
def square(n):
  return n**2
List = [1,2,3,4,5]
Result = []
for sq in List:
  Result.append(square(sq))
print(Result)

[1, 4, 9, 16, 25]

In [86]:
def square(n):
  return n**2

List = [1,2,3,4,5]  

Result = map(square,List)
print(Result)

ListResult = list(map(square,List))
print(ListResult)

<map object at 0x7efc5166b128>
[1, 4, 9, 16, 25]

In [89]:
List = [1,2,3,4,5] 
Result = map(lambda x:x**2,List)
print(*Result)

1 4 9 16 25

map(function ,sequence)

sequence = multiple argument

In [90]:
List_1 = [1,2,3]
List_2 = [1,1,1]

Result = tuple( map(lambda x , y : x + y,List_1, List_2))
print(Result)

(2, 3, 4)

# Filter and Reduce Function

Example

1. Display even no in range (1 to 10)

In [92]:
for ev in range(1,11):
  if ev%2==0:
    print(ev)

2
4
6
8
10

Filter function

_Syntax_

```python

filter(function , *iterable)
```

In [99]:
Even = filter(lambda x :x%2==0 , range(1,11))
print(Even)


Even = list(map(lambda x :x%2==0 , range(1,11)))
print(Even)


Even = list(filter(lambda x :x%2==0 , range(1,11)))
print(Even)

<filter object at 0x7efc516802b0>
[False, True, False, True, False, True, False, True, False, True]
[2, 4, 6, 8, 10]

In [100]:
Odd = list(map(lambda x : not x%2==0 , range(1,11)))
print(Odd)

Odd = list(filter(lambda x : not x%2==0 , range(1,11)))
print(Odd)

[True, False, True, False, True, False, True, False, True, False]
[1, 3, 5, 7, 9]

# Reduce Function

_Syntax_

```python

reduce(func , iterables)

```

Reduce function working

x,y
1 + 2  = 3
3 + 3  = 6
6 + 4  = 10
10 + 5 = 15

In [101]:
import functools

List = [1,2,3,4,5] # Sum of elements in list

sum = functools.reduce(lambda x , y : x + y,List)
print(sum)

15

=================================================================================

In [102]:
print(__name__)

__main__

In [107]:
# calculator

def add(a,b):
  return a + b
def sub(a,b):
  return a - b
def mul(a,b):
  return a * b

print(__name__)  
print(add(a=2,b=3))
print(mul(a=2,b=3))

__main__
5
6

In [108]:
if __name__ == '__main__':
  print(__name__)  
  print(add(a=2,b=3))
  print(mul(a=2,b=3))

__main__
5
6